%equal {
  position: relative;
  display: block;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      @each $size, $length in $sizes {
        &.equal#{$infix}-#{$size} {
          &::before {
            padding-top: $length;
          }
        }
      }
    }
  }
}

.equal {
  @extend %equal;
}
